img {
  border-radius: 8px;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 10px;
}

.header__left {
  margin-left: 100px;
}

.header__logo {
  font-size: 24px;
  color: #f9faf8;
}

.header__right {
  margin-right: 100px;
}

.header__link {
  display: flex;
  gap: 30px;
}

.link {
  font-size: 16px;
  color: #e5e7eb;
}

.banner {
  position: relative;
  width: 100%;
  background-color: #1f2937;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/news-header-bg.jpg) center/cover;
  filter: blur(10px);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.banner__content {
  position: relative;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner__title,
.banner__img {
  width: 50%;
  padding: 20px;
  margin: 50px;
}

.title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.content {
  font-size: 16px;
  color: #e5e7eb;
}

.btn {
  margin-top: 15px;
  background-color: black;
}
.btn-1 {
  padding: 8px 16px;
  border: 1px solid black;
  font-weight: 600;
  font-size: 16px;
  color: #dae2e4;
  border-radius: 8px;
  transition: all 1s ease;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-transform: capitalize;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.btn-1::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.9), transparent);
  transition: all linear 0.5s;
}

.btn-1:hover::before {
  left: 100%;
}

.card__list {
  background-color: #0a1117;
  padding: 50px;
}

/* .card__container {
  max-width: 1400px;
  margin: auto;
} */

.card__title {
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: 900;
  margin-bottom: 30px;
}

.card__items {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

.card--item {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  padding: 100px;
  background-color: black;
  color: white;
  font-size: 24px;
  font-family: "light italic";
}

.quote__content {
  width: 1000px;
  margin: 0px auto;
}

.quote__auth {
  font-size: 30px;
  float: right;
}

.subcribe {
  background-color: #0a1117;
  padding: 50px;
}

.subcribe__wrap {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subcribe__left {
  color: white;
  max-width: 600px;
  font-weight: 800;
  font-size: 30px;
}

.subcribe__right {
  display: flex;
}

input,
.btn-sub {
  background: transparent;
  border: 1px solid rgba(136, 155, 162, 0.5);
  margin: 0;
  border-radius: 0;
  color: #dae2e4;
  padding: 12px 24px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: white;
  padding: 20px;
}
